server:
  port: 8081
spring:
  application:
    name: auth-service
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
  cloud:
    discovery:
      client:
        simple:
          instances:
            user-service:
              - uri: http://user-service:8082
management:
  endpoints:
    web:
      exposure:
        include: health,info
  tracing:
    enabled: true
  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans
jwt:
  secret: ${JWT_SECRET:local-secret}