server:
  port: 8085
spring:
  application:
    name: insurance-service
  rabbitmq:
    host: localhost
    port: 5672
  cloud:
    stream:
      bindings:
        rentalEvents-in-0:
          destination: rental.events
management:
  endpoints:
    web:
      exposure:
        include: health,info
  tracing:
    enabled: true
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans