management:
  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans
spring:
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
      - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration
  rabbitmq:
    host: rabbitmq
    port: 5672