server:
  port: 8083
spring:
  application:
    name: product-service
  datasource:
    url: jdbc:postgresql://localhost:5432/productdb
    username: postgres
    password: postgres
  rabbitmq:
    host: localhost
    port: 5672
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  cloud:
    stream:
      bindings:
        productCreated-out-0:
          destination: product.events
management:
  endpoints:
    web:
      exposure:
        include: health,info
  tracing:
    enabled: true
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
jwt:
  secret: ${JWT_SECRET:local-secret}